.home-container {
  padding: 20px;
  font-family: "Arial", sans-serif;
}

/* Banner Section */
.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, #f7f7f7 100%, #fff 70%);
  padding: 40px 40px 0 40px ;
  border-radius: 10px;
}

.banner-text {
  max-width: 70%;
}

.banner-title {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.banner-title span {
  color: #ff5722;
}

.banner-description {
  margin: 20px 0;
  font-size: 1.2rem;
  color: #666;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-input,
.distance-selector,
.search-button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-button {
  background-color: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
}

.banner-image img {
  max-width: 400px;
  border-radius: 10px;
}

/* Featured Section */
.featured-section {
  margin-top: 40px;
  padding: 0 100px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 2rem;
  color: #333;
}

.navigation-buttons {
  display: flex;
  gap: 10px;
}

.nav-button {
  background-color: #eee;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.product-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
  scrollbar-width: none;
}

.product-slider::-webkit-scrollbar {
  display: none;
}


::-webkit-scrollbar {
  display: none;
}


.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.scrollbar-hidden {
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
}