body{
  background-color: #f1f5f9;;
}
.app-container {
  background-color: #f8f9fa; /* You can change this to white if needed */
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.bg-white {
  background-color: white;
}

.text-slate-600 {
  color: #4a5568;
}

.absolute {
  position: absolute;
}

.bg-red-500 {
  background-color: #f56565;
}



.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.drop-shadow-md {
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}

.pt-16 {
  padding-top: 4rem;
}



@media (min-width: 768px) {
  .md\\:hidden {
    display: none;
  }

  .md\\:flex {
    display: flex;
  }

  .md\\:gap-7 {
    gap: 1.75rem;
  }

  .md\\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
